.projects-section h2 {
    text-transform: uppercase;
    font-size: clamp(3rem, 5vw, 7rem);
    font-weight: 400;
    line-height: 1;
    color: var(--base-100);
}

.projects-section p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    color: var(--base-100);
}

.projects-section {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    overflow: hidden;
    background-color: var(--base-400);
    color: var(--base-100);
}

.project-images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    padding: 25svh 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: -1;
}

.project-img {
    width: 100%;
    aspect-ratio: 16/9;
    opacity: 0.5;
    transition: all 0.3s ease;
    overflow: hidden;
}

.project-names {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-names p {
    color: #4a4a4a;
    transition: color 0.3s ease;
}

.project-index h1,
.project-images,
.project-names p {
    will-change: transform;
}

@media (max-width: 1000px) {
    .project-images {
        width: calc(100% - 4rem);
        padding: 20svh 0;
        gap: 12svh;
    }

    .project-names p {
        color: #fff !important;
    }
}